.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 222vh;

  background-color: rgb(24, 89, 169); /* Ink blue background color */
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 8px;

  background-color: rgb(24, 89, 169); /* Ink blue background color */
  width: 310px;
  height: 406px;
  
  
}
.grey-button{
  margin-top: 133px !important;
  margin-left: 113px !important;
  background-color: grey !important;
  width: 110px;
}
.login-logo {
  display: block;
  margin: 0 auto;
  width: 259px !important; /* Adjust logo width */
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-family: 'DINCond-Bold', sans-serif;
  
}

.input-field {
  margin-bottom: 16px;
  
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #000000; /* Black background color */
  color: #ffffff; /* White text color */
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

@media screen  and (max-width:500px){
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 19px;
    
    border-radius: 8px;
    
    background-color: rgb(24, 89, 169);
    width: 279px;
    height: 361px;
    margin-left: 62px;
    width: 317px !important;
}

.full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 222vh;

  background-color: rgb(24, 89, 169);
}
input {
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 16px;
box-sizing: border-box;
width: 236px !important;
}
.grey-button {
margin-top: 97px !important;
margin-left: 68px !important;
background-color: grey !important;
width: 110px;
}
}
@media screen  and (max-width:400px){
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
   
    border-radius: 8px;
    
    background-color: rgb(24, 89, 169);
    width: 281px;
    height: 358px;
    width: 251px !important;
    margin-left: 38px;
}
input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  width: 253px !important;
}
.grey-button {
margin-top: 106px !important;
margin-left: 72px !important;
background-color: grey !important;
width: 110px;
}
}

@media screen  and (max-width:360px){
  .login-logo {
    display: block;
    margin: 0 auto;
    width: 215px !important;
}
  .login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 8px;
  
    background-color: rgb(24, 89, 169);
    width: 281px;
    height: 365px;
    width: 210px !important;
}

input {
  width: 100%;
  padding: 4px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  margin-left: -28px;
  width: 226px !important;
}
  @media screen  and (max-width:300px){
    .login-logo {
      display: block;
      margin: 0 auto;
      width: 188px !important;
  }

    
  .grey-button {
    margin-top: 87px !important;
    margin-left: 83px !important;
    background-color: grey !important;
    width: 110px;
}

.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  
  border-radius: 8px;
  
  background-color: rgb(24, 89, 169);
  width: 281px;
  height: 365px;
  width: 178px !important;
  margin-left: 27px;
}
.grey-button {
margin-top: 87px !important;
margin-left: 37px !important;
background-color: grey !important;
width: 110px;
}
input {
width: 100%;
padding: 4px;
border: 1px solid #ccc;
border-radius: 4px;
font-size: 16px;
box-sizing: border-box;
margin-left: -28px;
width: 202px !important;
}
}
}