*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  body { 
    background-color: #fff; /* White background color for the entire page */
    font-family: 'DINCond-Bold', sans-serif; /* Use DINCond-Bold font for the entire page */ 
}

